//Background
$white:             #ffffff !default;
$very-light-grey:   #F8F8F8 !default;
$light-grey:        #4a4a4a !default;
$medium-grey:       #DDDDDD !default;
//Sidebar
$bright-purple:     rgb(103, 39, 118) !default;
$light-purple:      #3F0E40 !default;
$dark-purple:       #311134 !default;
//Sidebar - Highlight
$blue:              #2B649E !default;
// Starred Post
$starred:           #FDF9ED !default;
// Unread Messages
$pink:              #DB1B50 !default;
// Highlighted Name
$light-blue:        #EAF5F9 !default;

$black:             #000000 !default;

