//Background
$white:             #ffffff !default;
$very-light-grey:   #F8F8F8 !default;
$lighter-grey:      rgb(189, 189, 189) !default;
$light-grey:        #4a4a4a !default;
$dark-grey:         #282828 !default;
$medium-grey:       #DDDDDD !default;
$med-grey:          rgb(135, 135, 135) !default;
//Sidebar
$bright-purple:     rgb(103, 39, 118) !default;
$light-purple:      #3F0E40 !default;
$dark-purple:       #441648 !default;
//Sidebar - Highlight
$very-light-blue:   #E8F5FA !default;
$light-blue:        rgb(180, 209, 238) !default;
$blue:              #2B649E !default;
$red:               rgb(155, 16, 16) !default;
$error-red:         #DF3E5A !default;
$dark-blue:         rgb(9, 77, 145) !default;
$green:             #398368 !default;
$green2:             #57B68B !default;
$dark-green:        #0D7154 !default;
// Starred Post
$starred:           #FDF9ED !default;
// Unread Messages
$pink:              #DB1B50 !default;
$unread-pink:       #CD2553 !default;
// Highlighted Name
$light-blue:        #EAF5F9 !default;
$black:             #000000 !default;





