development:
  adapter: async

test:
  adapter: async

production:
  adapter: redis
  url: redis://redistogo:a439f9c5e6f3056dcc1b07f17e15a841@dory.redistogo.com:10786/
  channel_prefix: hype_production
