.chatroom-grid-container {
    display: grid;
    border-style: solid;
    border-color: red;
    grid-template-columns: 220px auto;
    grid-template-rows: 50px auto 100px;
    height: 100vh;
    width: 100vw;
  }

.chatroom-skeleton {
    background: $light-purple;
    color: rgb(197,183,198);
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 2;
    overflow-x: scroll;
}

.chatroom-all-threads {
    overflow: scroll;

}

.chatroom-category {
    margin: 10px 20px;
    padding: 10px 0px 10px 0px;
}
.chatroom-nav > div {
}

.chatroom-name {
    font-weight: 300;
    padding: 4px 10px 4px 20px;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    &:hover{
        background: #311134;
    }
    &.active {
        background: #2B649E;
        color: $white;
        font-weight: 400;
    }
    &.unread {
        color: $white;
        font-weight: 600;
    }
    a {
        color: rgb(197,183,198);
    }
}

.chatroom-header {
    border-bottom: 1px solid $lighter-grey;
}
