.chatroom-grid-container {
    display: grid;
    border-style: solid;
    border-color: red;
    grid-template-columns: 220px minmax(500px, auto);
    grid-template-rows: minmax(60px, max-content) auto  100px;
    height: 100vh;
    width: 100vw;
  }

.chatroom-skeleton {
    background: $light-purple;
    color: rgb(197,183,198);
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 2;
    overflow-x: scroll;
}

.chatroom-all-threads {
    overflow: scroll;
}
.chatroom-all-threads-text {
    cursor: pointer;
}

.chatroom-jump-to {
    align-items: center;
    background: #1e0920b2;
    padding: 5px;
    margin: 0;
    width: 175px;
    height: 25px;
    border-radius: 5px;
    
    i {
        font-size: 12px;
        margin: 5px;
    }
}

.chatroom-direct-messages, .chatroom-channels {
    justify-content: space-between;
    i {
        font-size: 14px;
        padding: 3px 3px 3px 3px; 
        margin-right: 23px;
        cursor: pointer;
        transform: rotate(135deg);
        &:hover{
            color: $white;
        }
    }
}

.fa-comment-alt {
    font-size: 12px;
    padding: 3px 5px 0 0;
}
.chatroom-category {
    margin: 25px 0px 5px 20px;
    h3 {
        font-size: 15px;
    }

    
    
}
.chatroom-jump-to {
    cursor: pointer;
}
.add-channel-button{
    align-items: center;
    height: 30px;
    &:hover {
        background: #311134;
        cursor: pointer;
    }
}

.chatroom-name {
    justify-content: space-between;
    font-weight: 300;
    font-size: 15px;
    padding: 6px 0 6px 20px;
    width: 220px;
    color: $white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    text-overflow: ellipsis;
    a {
        color: $white;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        text-overflow: ellipsis;
    
    }
    &:hover {
        span {
            width: 135px;
        }
    }
    &.unread {
        color: $white;
        font-weight: 600;
    }
    .message-icons {
        margin-right: 5px;
        visibility: hidden;
        position: absolute;
        left: 180px;
        bottom: 5px;
        color: $med-grey;
        &:hover{
            color: $white;
        }
    }
    span {
        width: 175px;
        display: inline-block;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        padding-bottom: 5px; 
        margin-bottom: -5px;
    }
}

.active-chatroom:hover .message-icons {
    visibility: visible;
}
.active-chatroom:hover .chatroom-name {
    width: 175px;
}
.unread {
    .chatroom-name, .chatroom-name.div {
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        text-overflow: ellipsis;    
    
    span {
            width: 135px;
            display: inline-block;
            text-overflow: ellipsis;
            overflow-x: hidden;
            white-space: nowrap;
            padding-bottom: 5px; 
            margin-bottom: -5px;
    // display: flex;
    // position: relative;
    // justify-items: flex-end;
    }
}
}

.unread {
    font-weight: 700;
}

.active-chatroom {
    display: flex;
    position: relative;
    justify-items: flex-end;
    &.active { 
        background: #2B649E;
        &:hover{
            background: #2B649E;
        }
    }
    &:not(.active){
        &:hover{
            background: #311134;
        }
    }  

    .unread-message-count-class {
        color: $white;
        visibility: visible;
        background: $unread-pink;
        padding: 4px 8px;
        border-radius: 40%;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: -1px;
        margin-left: -3px;
    }
}

.chatroom-channel-names {
    padding-left: 23px;
}

.chatroom-header {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    border-bottom: 1px solid $lighter-grey;
}

.chatroom-header {
    justify-content: space-between;
    font-weight: 600;
    
    .chatroom-header-right {
        margin-right: 25px;
        width: 300px;
        justify-content: flex-end;
        a{
            font-size: 16px;
            padding-top: 10px;
        }
        i {
            color: $black;
        }
    }

    .chatroom-header-left {
        margin-left: 20px;
        align-self: center;
        flex-direction: column;
        h2, a{
            font-size: 16px;
            color: $dark-grey;
        }
        .chatroom-header-left-subcolumn {
            padding-top: 10px;
            font-size: 10px;
            color: $light-grey;
            pre {
                font-size: 16px;
                font-weight: 100;
            }
            i {
                padding: 2px 4px 0 0;
            }
            p {
                font-size: 12px;
            }
        }
    }
}


.chatroom-name .chatroom-name-popover {
    // position: absolute;
    // top: -40px;
    // left: -50px;
    // width: 175px;
    visibility: hidden;
    // background: $black;
    // padding: 10px 5px;
    // color: $white;
    // font-size: 10px;
    // text-align: center;
    // font-weight: bold;
    // border-radius: 5px;
    // z-index: 3;
}

// .chatroom-name:hover .chatroom-name-popover {
//     visibility: visible;
//     animation-name: appear;
//     animation-duration: 1s;
// }

// @keyframes appear {
//     0%   {opacity: 0;}
//     25%   {opacity: 0;}
//     100%   {opacity: 1;}
// }
