input:focus {
    outline: none !important;
    -webkit-box-shadow:inset 0px 0px 0px 1px $bright-purple;
    -moz-box-shadow:inset 0px 0px 0px 1px $bright-purple;
    box-shadow:inset 0px 0px 0px 1px $bright-purple;
}

.login-modal, .signup-modal {
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 5px;
    border: 1px solid $medium-grey;
    flex-direction: column;
    width: 550px;
    align-self: center;
    align-items: center;
    background: white;
    box-shadow: 1px 1px 1px $medium-grey;
    h2 {
        font-weight: 700;
        padding: 20px;
    }
    h3 {
        text-align: left;
        font-size: 14px;
    }
    
    span {
        font-weight: bold;
    }
    form {
        flex-direction: column;
        margin-top: 20px;
        width: 400px;
        button {
            margin-top: 20px;
            width: 100%;
            font-weight: 700;
        }
        label {
            // padding: 10px;
            h3 {
                margin: 7px 2px 0;
                font-size: 13px;
                font-weight: 700;
            }
        }
    }
    input {
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $light-grey;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    p {
        padding: 12px 0 7px 0;
        line-height: 1.44;
        color: $light-grey;
    }
    .last-label {
        margin-bottom: 5px;
    }

    
}

.errors-box{
    align-self: center;
    width: 550px;
    min-height: 50px;
    border-radius: 5px;
    border: 1px solid $medium-grey;
    box-shadow: 1px 1px 1px $medium-grey;
    background: white;
    margin: 15px 0;
    overflow: hidden;
}

.error-red{
    background: $error-red;
    width: 7px;
    display: block;
    float: left;
}

.errors {
    flex-direction: column;
    justify-content: flex-start;
    margin: auto 20px;
    color: black;
    line-height: 1.5;
    font-size: 14px;
    padding: 5px 0;
}
.demo-users {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $medium-grey;
    button {
        font-size: 14px;
        margin: 15px 10px 0px 10px;
    }
    h3 {
        font-size: 20px;
        color: $light-grey;
    }
}

.purple-button {
    align-self: center;
    color: $white;
    padding: 12px;
    border-bottom: 20px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1.1px;
    font-family: $font-sans-serif;
    background: $bright-purple;
}
.purple-button:hover{
    background: $dark-purple;
    cursor: pointer;
}

.green-button {
    align-self: center;
    color: $white;
    padding: 12px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1.1px;
    font-family: $font-sans-serif;
    background: $green;
}
.green-button:active{
    background: $dark-green;
    cursor: pointer;
}

.blue-button {
    align-self: center;
    background: $blue;
    color: $white;
    padding: 12px 15px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1.1px;
    line-height: 1.2;
    font-family: $font-sans-serif;
    width: 100px;
}
.blue-button:hover{
    background: $dark-blue;
    cursor: pointer;
}
.session-form-header {
    background: white;
    height: 65px;
    border-bottom: 3px solid $medium-grey;
    justify-content: center;
    padding: 10px 0 0 0;
}

.session-form-body{
    flex-direction: column;
    justify-content: flex-start;
    padding: 75px 0 100px 0;
    background: #f0f0f0;
    width: 100%;
    max-height: 100%;
    
}

.demo-users {
    width: 400px;
}
.demo-buttons {
    justify-content: space-between;
    width: 400px;
}
.session-form-header-inner {
    justify-content: start;
    align-self: start;
}

.session-form-header-logo {
    top: 10;
}

