.join-channel-modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $white;
    z-index: 10;
    align-items: flex-start;
    justify-content: center;
    .join-channel-modal-container{
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 650px;

        .join-channel-modal-escape {
            align-self: flex-end;
            margin-top: 20px;
            margin-right: 20px;
            padding: 10px 22px;
            border-radius: 50%;
            color: $med-grey;
            h2 {
                font-size: 30px;
                font-family: $font-lato;
                font-weight: 300;
            }
            h4 {
                text-align: center;
            }
            &:hover {
                background: rgba(189, 189, 189, 0.592);
                color: $dark-grey;
            }
        }
        .join-channel-modal {
            padding: 10px 40px 10px 40px;
            max-width: 650px;
            background: $white;
            flex-direction: column;
            .outer-input {
                display: block;
                float: left;
            }
            .join-channel-input {
                width: 100%;
                justify-content: space-between;
                align-content: flex-start;
                flex-wrap: wrap;
                min-height: 50px;
                margin-bottom: 20px;
                padding: 10px;
                overflow: auto;

                .join-channel-inner-input{
                    border: 1px solid $med-grey;
                    border-radius: 5px;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    width: 80%;
                }
                input {
                    box-sizing: border-box;
                    border: none;
                    height: 50px;
                    font-size: 16px;
                    color: $med-grey;
                    border-radius: 3px;
                    padding: 0px 10px;
                    &:focus {
                        -webkit-box-shadow: none !important;
                        -moz-box-shadow: none !important;
                        box-shadow: none !important;
                        outline: none !important;
                    }
                    &::placeholder {
                        color: $lighter-grey;
                        font-size: 20px;
                    }
                }
                button {
                    height: 55px;
                    width: 55px;
                    margin-left: 10px;
                    font-weight: 900;
                    font-size: 20px;
                    align-self: flex-start;
                }
            }
            p {
                margin-bottom: 10px;
            }
            h2 {
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 35px;
            }
            .join-channel-user-list {
                overflow: scroll;
                flex-direction: column;
                .join-channel-user-list-item {
                    justify-content: space-between;
                    align-items: center;
                    height: 60px;
                    box-sizing: border-box;
                    // padding: 5px;
                    border-top: 1px solid $light-blue;
                    // border-top: 1px solid $light-blue;
                    border-left: 1px solid $white;
                    margin: 0px 0px;
                    
                    &:hover {
                        border-radius: 5px;
                        border-left: 1px solid $light-blue;
                        border-right: 1px solid $light-blue;
                        background: $very-light-blue;
                
                    }

                    .user-list-item-container {
                        align-items: center;
                        justify-content: space-between;
                        height: 100%;
                        
                        .profile-image-2 {
                            border-radius: 5px;
                            margin-left: 10px;
                            margin-right: 5px;
                            background: $light-blue;
                            width: 40px;
                            height: 40px;
                        }
                        .user-list-item-left {
                            align-items: center;
                            font-size: 14px;
                            .alias {
                                font-weight: 300;
                            }
                            .full-name {
                                font-weight: 500;
                            }
                        }
                        .fa-level-down-alt {
                            transform: rotate(90deg);
                            color: $blue;
                            font-size: 12px;
                            margin-right: 10px;
                            visibility: hidden;
                        }
                        &:hover {
                            .fa-level-down-alt {
                                visibility: visible;
                            }
                        }
                    }
                }
                
            }
        }
    }
}


.channel-input{
    .channel-input-header {
        justify-content: space-between;
        width: 100%;
        margin: 20px 0;
        h2 {
            padding: 0;
            font-size: 20px;
            margin: 0;
        }
        button {
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 1;
            align-self: baseline;
        }
    }
    i {
        align-self: center;
        font-size: 22px;
        color: $lighter-grey;
        margin-left: 10px;
    }
    .join-channel-user-list {
        height: 70%;
        overflow: scroll;
        flex-direction: column;
        height: 500px;
        a{
            text-decoration: none;
            color: $black;
            height: 100%;
        }
    }

    
    .join-channel-inner-input{
        border: 1px solid $med-grey;
        border-radius: 5px;
        // justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 15px;
    }
    .user-list-item {
        padding: 5px;
        margin-left: 10px;
    }
    .user-list-item-name{
        font-size: 14px;
        margin: 5px 0;
        font-weight: 700;
    }

    .user-list-item-topic {
        font-size: 12px;
        font-weight: 400;
        font-style: italic;

    }
    .user-list-item-description {
        margin: 5px 0;
        color: $med-grey;
        font-weight: 400;
        font-size: 12px;
    }
    input {
        box-sizing: border-box;
        border: none;
        height: 50px;
        font-size: 16px;
        color: $med-grey;
        border-radius: 3px;
        padding: 0px 10px;
        width: 90%;
        &:focus {
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
            outline: none !important;
        }
        &::placeholder {
            color: $lighter-grey;
            font-size: 16px;
        }
    }
}

.create-channel-modal {
    overflow: scroll;
}

.join-channel-modal {


    .channel-create-header {
        flex-direction: column;
        width: 100%;
        margin: 20px 0;
        h2 {
            padding: 0;
            font-size: 20px;
            margin: 0;
        }
        span {
            font-family: $font-sans-serif;
            color: $light-grey;
            font-size: 14px;
            font-weight: 300;
        }
    }

    .create-channel-input-name {
        height: 50px;
    }

    .create-channel-hashtag {
        color: $light-grey;
        align-self: center;
        justify-self: center;
        font-size: 20px;
        margin-left: 15px;
        margin-bottom: 0;
    }

    input {
        height: initial;
    }

    .create-channel-input-optional{
        font-family: $font-sans-serif;
        color: $light-grey;
        font-size: 14px;
        font-weight: 300;


    }

    .create-channel-input-label {
        font-family: $font-sans-serif;
        color: $black;
        font-size: 16px;
        font-weight: 500;

    }
    .green-button {
        float: right;
    }

    .join-channel-inner-input {
        margin-top: 10px;
        max-height: 150px;
        overflow: hidden;
    }

    .individual-user-input{
        max-height: 150px;
        overflow: hidden;
    }
    .join-channel-user-list {
        height: 150px;
    }

    .not-active {
        background: $lighter-grey;
    }
}

.individual-user {
    background: #1D9BD1;
    align-items: center;
    // align-self: center;
    // justify-content: center;
    height: 30px;
    white-space: nowrap;
    font-family: $font-sans-serif;
    border-radius: 3px;
    margin: 8px;
    &:hover {
        cursor: pointer;
    }
    .individual-user-box {
        color: white;
        padding: 5px;
        font-size: 12px;
        font-weight: 600;
    }
    .individual-user-x {
        font-size: 14px;
        padding: 5px;
        color: white;
    }

}