.full-message-window {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: flex-end;
}

.message-form-input {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
}

.message-form {
    padding: 3px 10px;
    margin: 0 0 10px 0;
    width: 100%;
    border-top: 1px solid $med-grey;
    border-bottom: 1px solid $med-grey;
    border-left: none;
    border-right: none;
}


.message-form-left-box {
    justify-content: center;
    align-content: center;
    border-radius: 5px 0 0 5px;
    margin: 0 0 10px 20px;
    border: 1px solid $med-grey;
    color: $med-grey;
    p {
        font-size: 25px;
        font-weight: 500;
        align-self: center;
        text-align: center;
        padding: 12px;
    }
    &:hover {
        background: $green2;
        color: white;
        border: 1px solid $dark-green;
    }
}

.message-form-right-box {
    padding-right: 10px;
    margin: 0 20px 10px 0;
    border-radius: 0 5px 5px 0;
    border-top: 1px solid $med-grey;
    border-right: 1px solid $med-grey;
    border-bottom: 1px solid $med-grey;
    justify-content: center;
    align-content: center;
    color: $med-grey;
    p {
        font-size: 22px;
        font-weight: 500;
        align-self: center;
        text-align: center;
        padding-right: 10px;
        margin-bottom: 5px;
        &:hover {
            transform: scale(1.2);
            color: $blue;
        }
    }
    i {
        font-size: 20px;
        margin: auto;
        &:hover {
            transform: scale(1.2);
            color: goldenrod;

        }
    }
}

.message-form:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.message-form, .message-form-left-box, .message-form-right-box  {
    box-sizing: border-box;
    height: 45px;
    align-self: center;
    font-size: 14px;
    &::placeholder {
        color: $lighter-grey;
    }
}

.message-body {
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.message-list {
    flex-direction: column;
    // overflow-y: scroll;
    word-wrap: break-word;
}

.message-item {
    flex-direction: column;
    margin: 0 30px 0 40px;
    div {
        margin: 3px;
    }
}

.message-item-container:hover {
    background: $very-light-grey;

}

.message-body-author {
    font-size: 15px;
    font-weight: 600;

}
.message-body-timestamp {
    font-size: 12px;
    color: $light-grey;
    font-weight: 300;
    word-wrap: break-word;

}
.message-body-body {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}