.top-nav {
    background: #3F0E40;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    font-weight: bold;
    color: white;
    flex-direction: column;
    padding: 12px;

    &:hover{
        background: #311134;
    }
    a {
        color: white;
        padding: 5px;
    }
    a:hover {
        color: $medium-grey;
    }
    button {
        background: #2B649E; 
        cursor: pointer;
        color: white;
        margin-left: 10px;
    }
    button:hover {
        background: rgb(13, 74, 136); 
    }
    h3 {
        font-size: 16px;
        padding-bottom: 5px;
    }
}