.top-nav {
    background: #3F0E40;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    font-weight: bold;
    align-items: center;
    color: white;
    justify-content: space-between;

    .flex-column {
        padding-left: 20px;
        width: 100px;
    }
    &:hover{
        background: #311134;
    }
    img {
        height: 30px;
        width: auto;
    }
    button {
        word-wrap: none;
    }
    button:hover {
        background: rgb(13, 74, 136); 
    }
    h3 {
        font-size: 16px;
        padding-bottom: 5px;
    }
}

.nav-bar-button {
    align-self: center;
    background: $blue;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin: 0 25px;
    height: 30px;
    padding: 0 10px;
    font-size: 12px;
    font-family: $font-sans-serif;
    &:hover {
        background: $dark-blue;
    }
}