.login-form, .signup-form {
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #000000;
    flex-direction: column;
    background: #DDDDDD;
    width: 500px;
    align-self: center;
    align-items: center;
}