@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");

//Background
$white:             #fff !default;
$light-grey:        #F8F8F8 !default;
$medium-grey:       #DDDDDD !default;
//Sidebar
$purple:            #3F0E40 !default;
$dark-purple:       #311134 !default;
//Sidebar - Highlight
$blue:              #2B649E !default;
// Starred Post
$starred:           #FDF9ED !default;
// Unread Messages
$pink:              #DB1B50 !default;
// Highlighted Name
$light-blue:        #EAF5F9 !default;



// Fonts
$font-sans-serif:   NotoSansJP,Slack-Lato,appleLogo,sans-serif !default;
$font-logo:         Pacifico, cursive !default; 
$font-lato:         Lato, sans-serif !default;  
$font-noto:         Noto Sans JP, sans-serif !default;  


h1, h2, h3, h4, h5, p, li {
    font-family: $font-sans-serif
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 12px;
}

ul {
    list-style: none;
}

p {
    font-size: 14px;
    font-weight: 300;
}

.flex {
    display: flex;
}

