h1, h2, h3, h4, h5, p, li {
    font-family: 'NotoSansJP', 'Lato', 'appleLogo',sans-serif
}

body {
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 12px;
}

ul {
    list-style: none;
}

p {
    font-size: 14px;
    font-weight: 300;
}

.flex {
    display: flex;
}

.window {
    overflow: hidden;
}

.window-pane {
}

.logo {
    /* text-align: center; */
    font-size: 200px;
    font-family: 'Pacifico', cursive;
    margin-left: 250px;
}

.font2 {
    font-size: 200px;
    font-family: 'Dancing Script', cursive;
    margin-left: 250px;
}

.font1 {
    margin-left: 50px;
}


/* Top Navbar Sidebar */

.header-clear {
    width: 280px;
    height: 800px;
}

.top-nav {
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
    height: 100px;
    margin: 20px;
    font-weight: bold;
}



/* Left Chatroom Sidebar */

.chatroom-nav {
    background: #3F0E40;
    color: rgb(197,183,198);
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
    z-index: 2;
    flex-direction: column;
}

.chatroom-all-threads {
    overflow: scroll;
}

.chatroom-nav > div {
    padding: 10px 0px 10px 0px;
}
.chatroom-header {
    height: 50px;
    padding: 15px 0px 0px 15px;
}
.chatroom-header:hover, .chatroom-name:hover {
    background: #311134;
}

.chatroom-all-threads > div {
    margin: 10px 20px;
}

.active {
    background: #2B649E;
    color: white;
}
.active:hover {
    background: #2B649E;
    color: white;
}

.chat-message-block {
    width: 100%;
    padding: 5px;

}

.chat-input {
    width: 60%;
    height: 20px;
    margin: 20px 20px 20px 300px;
}

.send {
    background: #2B649E;
    color: white;
    font-size: 16px;
}

.chat-message {
    width: 90%;
}

.chat-created-at {
    text-align: right;
}

.chatroom-name {
    font-weight: 300;
    padding: 4px 10px 4px 20px;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

ul {
}

.bold {
    color: white;
    font-weight: 600;
}

